<div class="row d-flex justify-content-center">
  <div class="col-md-6">
    <iframe width="950" height="580" src="https://www.youtube.com/embed/JefHYWvw1Fk?list=LL" title="Vídeo hey tu sácame del cajero Miguel Hidalgo billete de mil pesos mexicanos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>
