<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <button class="btn btn-primary w-100">Opccion 1</button>
  </div>
  <div class="col-md-12 p-1"></div>
  <div class="col-md-4">
    <button class="btn btn-primary w-100" routerLink="/page-three">Creditos</button>
  </div>
  <div class="col-md-12 p-1"></div>
  <div class="col-md-4">
    <button class="btn btn-primary w-100">Opccion 3</button>
  </div>
</div>
