<div class="row d-flex justify-content-center">
  <div class="col-md-6 text-center">
    <h3>Creditos</h3>
  </div>
  <div class="col-md-12"></div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
